.nav-pills>li {
  vertical-align: center;
}

#contact-balk {
  max-width: 100%;
  min-width: 100%;
  background-color: #ECF2D8;
  text-align: center;
  padding: 0.1% 10%;
}

#start-contact-item {

}

#end-contact-item,
.contact-item {
  border-left: 1px solid #000;
}

#start-contact-item,
#end-contact-item,
.contact-item {
  padding-left: 1%;
  margin-right: 1%;
  display: inline-block;
  font-weight: 650;
}

section p {
}

fieldset {
  border: 0;
}

body {
  max-width: 100%;
  background-color: #fff;
}

p {

}

h1 {

}

ul {

}

h2 {


}

p {


}

code {

}

section {
	
}

a {

}

nav {
} 

footer {
}